[project]
	description = Storage Performance Development Kit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fenggang Wu (fgwu)
[access "refs/for/refs/*"]
	read = group user/Fenggang Wu (fgwu)
	push = group user/Fenggang Wu (fgwu)
	label-Code-Review = -2..+2 group user/Fenggang Wu (fgwu)
	label-Verified = -1..+1 group user/Fenggang Wu (fgwu)
	rebase = group user/Fenggang Wu (fgwu)
	removeReviewer = group user/Fenggang Wu (fgwu)
	submit = group user/Fenggang Wu (fgwu)
[access "refs/heads/*"]
	read = group user/Fenggang Wu (fgwu)
	create = group user/Fenggang Wu (fgwu)
	push = +force group user/Fenggang Wu (fgwu)
	pushMerge = group user/Fenggang Wu (fgwu)
[access "refs/tags/*"]
	push = group user/Fenggang Wu (fgwu)
	push = +force group user/Fenggang Wu (fgwu)
